<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Iniciar Sesion</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilos_login.css">
    <script src="/js_conexion/login.js"></script> 
</head>
<body>
<div>
    <div class="login">
        <h4 style="background-color: <%=status==='error'?"red":"" %>" ><%= msg %></h4>
        <form method="post" action="/panel/ingresar" class="form">
            <h1>INICIAR SESION</h1>
            <h2> o <a href="registrarse.html">Registrate</a></h2>
            <label for="usuario">Usuario: </label>
            <input class="username" name="usuario" id="usuario" type="text" placeholder="Ingresar usuario">
            <br><br>
            <label for="clave">Contraseña: </label>
            <input class="password" name="clave" id="clave" type="password" placeholder="Ingresa tu contraseña">
            <br><br>
            <input type="submit"  value="ENVIAR">
        </form>
    </div>
</div>
</body>
</html>