<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Registrate</title>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilos_login.css">
</head>
<body>
<form method="post" action="../panel/crearusuario2" class="form">
    <div class="login">
        <div class="form">
            <h4 style="background-color: <%=status==='error'?"red":"" %>" ><%= msg %></h4>
            <h1>REGISTRARSE</h1>
            <h2>o <a href="/panel/ingresar">Inicia Sesión</a></h2>
            <label for="email">Usuario: </label>
            <input name="usuario" type="text" id="usuario" placeholder="Ingresa tu usuario" required><!-- + id-->
            <input name="nombres" type="text" id="nombres" placeholder="Ingresa tu nombre" required><!-- + id-->
            <input name="apellidos" type="text" id="apellidos" placeholder="Ingresa tu apellido" required><br><br><!-- + id-->
            <label for="clave">Contraseña: </label>
            <input class="password" name="clave" id="clave" type="password" placeholder="Ingresa tu contraseña" required>
            <input type="text" name="tipodeusuario" id="tipodeusuario" value="0" required style="display: none"><span class="barra"></span>
            <br><br>
            <input type="submit" value="ENVIAR">
        </div>
    </div>
</form>
<script src="/js/script_h.js"></script>
</body>
</html>