<div class="top_navbar">
    <div class="logo">CS<span>Inventory</span></div>
    <div class="menu">
        <div class="hamburger">
            <i class="fas fa-bars"></i>
        </div>
        <div class="profile_wrap">
            <ul>
                <li>
                    <a href="#">
                        <div class="profile">
                            <img src="/img/user.jfif" alt="profile_pic">
                            <span class="name"><%= token.usuario %></span>
                            <span class="icon"></span>
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </a>
                    <div class="dropdown">
                        <ul>
                            <li><a href="Actualizar_u.html"><i class="fas fa-sliders-h"></i> Modificar</a></li>
                            <li><a href="/panel/salir"><i class="fas fa-sign-out-alt"></i> Salir</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>