<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/estilo_h.css">
    <link rel="stylesheet" type="text/css" href="/css/estilo_r.css">
</head>
<body>

<div class="wrapper hover_collapse">

    <%- include('../include/topnavbar', {token: token}) %>

    <%- include('../include/sidebar') %>

    <div class="main_container">
        <form method="post" action="/panel/crearusuario" class="form">
            <h1>Registrar Administrador</h1>
            <h5 style="background-color: <%= status==="error"? "red":"yellow" %>" ><%= msg %></h5>
            <div class="grupo">
                <input type="text" name="usuario" id="usuario" required><span class="barra"></span>
                <label for="">Nombre</label>
            </div>
            <div class="grupo">
                <input type="password" name="clave" id="clave" required><span class="barra"></span>
                <label for="">Contraseña</label>
            </div>
            <div class="grupo">
                <input type="text" name="nombres" id="nombres" required><span class="barra"></span>
                <label for="">Nombre de Usuario</label>
            </div>
            <div class="grupo">
                <input type="text" name="apellidos" id="apellidos" required><span class="barra"></span>
                <label for="">Nombre de Usuario</label>
            </div>
            <input type="text" name="tipodeusuario" id="tipodeusuario" value="1" required style="display: none"><span class="barra">

            <div class="register">
                <p>
                    <button type="submit">Registrar
                    </button>
                </p>
            </div>
        </form>
    </div>
</div>

</div>

<script src="/js/script_h.js"></script>
</body>
</html>